.forecastWeeklyItems {
	&:hover {
		background: linear-gradient(317.63deg,#353589 -7.42%,#9a9aff 120.45%);
		transition-duration: .5s;
	}
	&:hover span {
		color: #ffffff;
		transition-duration: .5s;
	}
	&:hover h2 {
		color: #ffffff;
		transition-duration: .5s;
	}
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	align-items: center;
	padding: 2rem 0;
	width: 24rem;
	font-size: 1.2rem;
  line-height: 2rem;
	font-weight: 600;
	background-color: #f7f8fa;
	border-radius: 9999px
}

.weeklyItemsDark {
	background: #222;
}

.forecastWeeklyItems img {
	height: 100%;
	width: 12rem;
}

.forecastWeeklyItems h2 {
	color: #666;
	font-size: 2rem;
	text-align: center;
}

.forecastWeeklyItems .dateTextDark {
	color: #ffffff;
}

.forecastWeeklyItems span {
	font-size: 3.8rem;
  line-height: 4rem;
  font-weight: 600;
  color: #353589;
}

.forecastWeeklyItems .dayTempDark {
	color: #7668e5;
}