.forecastForHour {
	&:hover {
		background: linear-gradient(317.63deg,#353589 -7.42%,#9a9aff 120.45%);
		color: #ffffff;
		transition-duration: .5s;
	}
	&:hover .hourTemp {
		color: #ffffff;
		transition-duration: .5s;
	}
	display: flex;
	width: 24rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
	gap: 1.2rem;
	padding: 1.5rem;
	border-radius: 2rem;
	background-color: #f7f8fa;
}

.darkTheme {
	background-color: #353589;
}

.hourTemp {
	font-size: 3.8rem;
  line-height: 4rem;
	font-weight: 600;
	color: #353589;;
}

.hourTempDark {
	color: #7668e5
}

.forecastHourIcon {
	max-height: 100%;
	max-width: 100%;
	width: 12rem
}

.forecastTime {
	text-transform: uppercase;
	padding: 0.8rem 1.9rem;
	border-radius: 1.4rem;
	background-color: #7668e5;
	color: #ffffff;
	font-size: 1.4rem;
}

.celsius {
	&:hover {
		color: #ffffff;
		transition-duration: .5s;
	}
	top: -5rem;
	left: 5rem;
	font-size: 2rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.forecastWindSpeed {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
}

.forecastChanceRain {
	display: block;
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
}

.forecastText {
	font-size: 1.8rem;
	font-weight: 600;
}

.darkText {
	color: #ffffff;
}

:global { .react-multi-carousel-track { 
		gap: 1%;
	}
}

:global { .react-multiple-carousel__arrow--right { 
		right: 0;
	}
}

:global { .react-multiple-carousel__arrow--left { 
		left: calc(2% + 1px);
	}
}
