.currentWeatherWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin-top: 11rem;
	padding: 10rem 2rem;
	border-radius: 20px;
	background-image: url("../../images/bg-current-weather.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: #ffffff
}

.dateWindWrapper {
	width: 30%;
	border-radius: 20px;
	padding: 2rem;
}

.locationWrapper {
	margin-bottom: 2.7rem;
}

.windIndicators {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background-color: #ffffff;
	border-radius: 1.3rem;
	padding: 2rem;
	font-size: 2rem;
	color: #6A5ACD;
}

.windIndicators div {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
	gap: 2rem;
}

.windIcon {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.3rem;
	background-color: #6A5ACD;
}

.cityNames {
	font-size: 5rem;
	font-weight: 700;
	line-height: 3rem;
	margin-bottom: 2rem;
}

.regionNames {
	font-size: 2rem;
	margin-bottom: 3rem;
}

.localTime {
	font-size: 1.5rem;
}

.lastUpdateTime {
	font-size: 1.5rem;
	margin-left: 50px;
}

.tempWrapper {
	width: 30%;
	background-color: #6A5ACD;
	border-radius: 20px;
	padding: 30px;
}

.currentDay {
	color: #ffffff;
	padding: 0.5rem 1.2rem;
	background-color: #00008B;
	border-radius: 1.2rem;
}

.icon {
	display: block;
	width: 12rem;
	max-width: 100%;
	height: auto;
	margin: auto;
	margin: 1.5rem auto;
}

.temp {
	font-size: 5rem;
  line-height: 7rem;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	margin-bottom: 1.2rem;
}

.temp sub {
	top: -2rem;
	font-size: 50%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.text {
	display: block;
	font-size: 1.5rem;
  line-height: 2rem;
	margin-bottom: 0.8rem;
}

.cloud {
	display: block;
	font-size: 1.5rem;
  line-height: 2rem;
}

@media (max-width: 320px) {
	.currentWeatherWrapper {
		flex-direction: column;
		gap: 2rem;
		padding: 1rem;
		background-repeat: repeat-y;
	}
	.dateWindWrapper {
		width: 100%;
		padding: 1rem;
	}
	.cityNames {
		font-size: 2rem;
		margin: 0 0 0.2rem 0;
	}
	.regionNames {
		font-size: 1rem;
		margin-bottom: 0.3rem;
	}
	.localTime {
		font-size: 1rem;
	}
	
	.lastUpdateTime {
		font-size: 1rem;
		margin-left: 2rem;
	}
	.windIndicators {
		gap: 1rem;
		padding: 1rem;
		font-size: 1rem;
	}
	.tempWrapper {
		width: 100%;
		padding: 1rem;
	}
}

@media (max-width: 480px) {
	.currentWeatherWrapper {
		flex-direction: column;
		gap: 2rem;
		padding: 1rem;
		background-repeat: repeat-y;
	}
	.dateWindWrapper {
		width: 100%;
		padding: 1rem;
	}
	.cityNames {
		font-size: 2.5rem;
		margin: 0 0 0.4rem 0;
	}
	.regionNames {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}
	.localTime {
		font-size: 1.3rem;
	}
	
	.lastUpdateTime {
		font-size: 1.3rem;
		margin-left: 2rem;
	}
	.windIndicators {
		gap: 1rem;
		padding: 1rem;
		font-size: 1.3rem;
	}
	.tempWrapper {
		width: 100%;
		padding: 1rem;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.currentWeatherWrapper {
		flex-direction: column;
		margin-top: 11rem;
		gap: 2rem;
		padding: 1.2rem;
		background-repeat: repeat-y;
	}
	.dateWindWrapper {
		width: 100%;
		padding: 1.2rem;
	}
	.cityNames {
		font-size: 3rem;
		margin: 0 0 0.8rem 0;
	}
	.regionNames {
		font-size: 1.5rem;
		margin-bottom: 0.8rem;
	}
	.localTime {
		font-size: 1.5rem;
	}
	
	.lastUpdateTime {
		font-size: 1.5rem;
		margin-left: 2rem;
	}
	.windIndicators {
		gap: 1rem;
		padding: 1.4rem;
		font-size: 1.5rem;
	}
	.tempWrapper {
		width: 100%;
		padding: 2rem;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.currentWeatherWrapper {
		gap: 2rem;
		padding: 2rem;
		margin-top: 11rem;
	}
	.dateWindWrapper {
		width: 35%;
		padding: 1.2rem;
	}
	.cityNames {
		font-size: 3rem;
		margin: 0 0 0.8rem 0;
	}
	.regionNames {
		font-size: 1.2rem;
		margin-bottom: 0.8rem;
	}
	.localTime {
		font-size: 1.5rem;
	}
	
	.lastUpdateTime {
		font-size: 1.5rem;
		margin-left: 2rem;
	}
	.windIndicators {
		gap: 1rem;
		padding: 1.4rem;
		font-size: 1.5rem;
	}
	.tempWrapper {
		width: 35%;
		padding: 2rem;
	}
	.icon {
		width: 10rem;
		margin: 0.5rem auto;
	}
	.temp {
		font-size: 3rem;
		line-height: 1;
	}
}

@media (min-width: 1024px) {
	.currentWeatherWrapper {
		padding: 3rem;
		margin-top: 11rem;
	}
	.dateWindWrapper {
		width: 35%;
		padding: 1.2rem;
	}
	.cityNames {
		font-size: 3rem;
		margin: 0 0 0.8rem 0;
	}
	.regionNames {
		font-size: 1.2rem;
		margin-bottom: 0.8rem;
	}
	.localTime {
		font-size: 1.5rem;
	}
	
	.lastUpdateTime {
		font-size: 1.5rem;
		margin-left: 2rem;
	}
	.windIndicators {
		gap: 2rem;
		padding: 1.4rem;
		font-size: 1.5rem;
	}
	.tempWrapper {
		width: 25%;
		padding: 3rem;
	}
	.icon {
		width: 10rem;
		margin: 1rem auto;
	}
	.temp {
		font-size: 5rem;
		line-height: 1;
	}
}